<?xml version="1.0" encoding="UTF-8"?>
<interface>
  <object class="GtkMenu" id="menu">

    <child>
      <object class="GtkSeparatorMenuItem" id="delimiter3">
      <property name="label">== Shortcuts ==</property>
      </object>
    </child>
    
    <child>
    <object class="GtkMenuItem" id="sysinfo">
      <property name="label"> System Info</property>
    </object>
    </child>

    <child>
    <object class="GtkMenuItem" id="appmenu">
      <property name="label"> App Launcher</property>
    </object>
    </child>

    <child>
    <object class="GtkMenuItem" id="terminal">
      <property name="label"> Terminal</property>
    </object>
    </child>

    <child>
    <object class="GtkMenuItem" id="fileman">
      <property name="label">󰉋 File Manager</property>
    </object>
    </child>

    <child>
    <object class="GtkMenuItem" id="textedit">
      <property name="label"> Text Editor</property>
    </object>
    </child>

    <child>
      <object class="GtkSeparatorMenuItem" id="delimiter4"/>
    </child>

    <child>
      <object class="GtkSeparatorMenuItem" id="delimiter2">
      <property name="label">== Utilities ==</property>
      </object>
    </child>

    <child>
    <object class="GtkMenuItem" id="screenshot">
      <property name="label">󰄀 Screenshot</property>
    </object>
    </child>

    <child>
    <object class="GtkMenuItem" id="picker">
      <property name="label"> Colour Picker</property>
    </object>
    </child>

    <child>
      <object class="GtkSeparatorMenuItem" id="delimiter5"/>
    </child>

    <child>
      <object class="GtkSeparatorMenuItem" id="delimiter1">
      <property name="label">== Power Options ==</property>
      </object>
    </child>

    <child>
		<object class="GtkMenuItem" id="suspend">
			<property name="label">󰒲 Suspend</property>
    </object>
	  </child>

    <child>
		<object class="GtkMenuItem" id="logout">
			<property name="label">󰈆 Log Out</property>
		</object>
    </child>

    <child>
    <object class="GtkMenuItem" id="shutdown">
			<property name="label"> Shutdown</property>
    </object>
    </child>
    
    <child>
		<object class="GtkMenuItem" id="reboot">
			<property name="label"> Reboot</property>
		</object>
    </child>
  
  </object>
</interface>
