@define-color bg #000000;
@define-color border #454545;
@define-color text #FFFFFF;
@define-color accent #33CCFF;
@define-color accent-secondary #00FF99;
@define-color button-bg #252525;
@define-color button-hover #454545;
@define-color focused-workspace #454545;
@define-color logo #0099FF;

@define-color black #000000;
@define-color red #FF4545;
@define-color green #45FF45;
@define-color orange #FF7700;
@define-color yellow #FFFF45;
@define-color blue #0077FF;
@define-color magenta #BB00FF;
@define-color cyan #00AAFF;
@define-color white #FFFFFF;

* {
	background-color: alpha(@bg, 0.7);
}
