@define-color bar-bg #000000;
@define-color bar-border #454545;
@define-color text #FFFFFF;
@define-color accent #33CCFF;
@define-color accent-secondary #00FF99;
@define-color button-bg #252525;
@define-color button-hover #454545;
@define-color focused-workspace #454545;
@define-color logo #0099FF;

@define-color black #000000;
@define-color red #FF4545;
@define-color green #45FF45;
@define-color orange #FF7700;
@define-color yellow #FFFF45;
@define-color blue #0077FF;
@define-color magenta #BB00FF;
@define-color cyan #00AAFF;
@define-color white #FFFFFF;

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: 'ProFont IIx Nerd Font Mono', FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 17px;
}

window#waybar {
    /* background-color: rgba(0, 0, 0, 0.7); */
    /* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
    /* color: #ffffff; */
    background-color: alpha(@bar-bg, 0.7);
    color: @text;
    transition-property: background-color;
    transition-duration: .5s;
    /* border-radius: 10px; */
    
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /* border-bottom: 2px solid @bar-border; */
    
    /* border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top: 2px solid @bar-border; */

    /* border-left: 2px solid @bar-border;
    border-right: 2px solid @bar-border; */
}

window#waybar.bottombar {
    /* background-color: rgba(0, 0, 0, 0.7); */
    /* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
    /* color: #ffffff; */
    background-color: transparent;
    color: @text;
    transition-property: background-color;
    transition-duration: .5s;
    /* border-radius: 10px; */
    
    /* border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 2px solid @bar-border; */
    
    border: 0px transparent solid;
}

.modules-left,
.modules-right,
.modules-center {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

tooltip {
	background-color: alpha(@bar-bg, 0.7);
	border: 2px @accent solid;
	border-radius: 10px;
	color: white;
}

tooltip label {
	color: white;
}

button {
    background-color: @button-bg;
    border-radius: 10;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    background-color: @button-hover;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd,
#window,
#keyboard-state,
#load {
    background-color: @button-bg;
    padding: 0 10px;
    color: @text;
    border-radius: 5px;
}

#keyboard {
	background-color: @button-bg;
	color: @text;
	border-radius: 5px;
	padding: 0 0px;
}

#power {
    background-color: @button-bg;
    border-radius: 5px;
    padding: 0 0px;
}

#custom-shutdown,
#custom-reboot,
#custom-logout,
#custom-lock {
    padding: 0 10px;
}

#custom-shutdown {
	color: @red;
}

#custom-reboot {
	color: @yellow;
}

#custom-logout {
	color: @green;
}

#custom-lock {
	color: @blue;
}

#shortcuts {
	background-color: @button-bg;
	color: @white;
	border-radius: 5px;
	padding: 0 0px;
}

#custom-logo {
	background-color: @logo;
	border-radius: 5px;
	color: @white;
	padding: 0 10px;
}

#custom-info {
	background-color: @button-bg;
	border-radius: 5px;
	color: white;
	padding: 0 10px;
}

#backlights {
	background-color: @button-bg;
	padding: 0 0px;
	border-radius: 5px;
	color: @white;
}

#backlight-slider slider {
	
}

#custom-terminal,
#custom-files,
#custom-textedit,
#custom-runner,
#custom-screenshot,
#custom-picker,
#custom-info {
	padding: 0 10px;
}

#custom-terminal:hover,
#custom-files:hover,
#custom-textedit:hover,
#custom-runner:hover,
#custom-screenshot:hover,
#custom-picker:hover,
#power-profiles-daemon:hover,
#idle_inhibitor:hover,
#battery:hover,
#clock:hover,
#pulseaudio:hover,
#custom-info:hover {
	background-color: @button-hover;
	border-radius: 5px;
	transition-property: background-color;
	transition-duration: 0.3s;
}

#custom-shutdown:hover {
	border-radius: 5px;
	background-color: @red;
	color: @black;
	transition-duration: 0.3s;
}
#custom-reboot:hover {
	border-radius: 5px;
	background-color: @yellow;
	color: @black;
	transition-duration: 0.3s;
}
#custom-logout:hover {
	border-radius: 5px;
	background-color: @green;
	color: @black;
	transition-duration: 0.3s;
}
#custom-lock:hover {
	border-radius: 5px;
	background-color: @blue;
	color: @black;
	transition-duration: 0.3s;
}

#custom-logo:hover {
	background-color: @accent;
	border-radius: 5px;
	transition-property: background-color;
	transition-duration: 0.3s;
}

#options {
	background-color: @button-bg;
	border-radius: 5px;
}

#window,
#workspaces,
#custom-menu {
    margin: 0 0px;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    background-color: @button-hover;
}

#workspaces {
    background-color: @button-bg;
    border-radius: 5px;
}

#custom-menu {
    background-color: @logo;
    border-radius: 5px;
}

#workspaces button {
    padding: 0 7px;
    background-color: transparent;
    color: @white;
    border-radius: 5px
}

#workspaces button:hover {
    background: @button-hover;
    border-radius: 5px
}

#workspaces button.focused, #workspaces button.active {
    background-color: @focused-workspace;
    border-radius: 5px;
    color: @accent;
    /* box-shadow: inset 0 -3px #ffffff; */
}

#workspaces button.urgent {
    background-color: @red;
    border-radius: 5px;
}

#mode {

}

#window {

}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: @button-bg;
}

#battery {
    background-color: @button-bg;
    color: @blue;
}

#battery.charging, #battery.plugged {
    color: @black;
    background-color: @blue;
}

@keyframes blink {
    to {
        background-color: @white;
        color: @black;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: @red;
    color: @white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
	background: @button-bg;
}

#power-profiles-daemon.performance {
    color: @red;
}

#power-profiles-daemon.balanced {
    color: @white;
}

#power-profiles-daemon.power-saver {
    color: @green;
}

label:focus {
    background-color: @black;
}

#cpu {
    background-color: @button-bg;
}

#memory {
    background-color: @button-bg;
}

#disk {
    background-color: @button-bg;
}

#backlight {
    background-color: @button-bg;
    color: @accent;
}

#network {
    background-color: @button-bg;
}

#network.disconnected {
    background-color: @red;
}

#pulseaudio {
    background-color: @button-bg;
    color: @cyan;
}

#pulseaudio.muted {
    background-color: @button-bg;
    color: @red;
}

#wireplumber {
    background-color: @button-bg;
    color: @text;
}

#wireplumber.muted {
    background-color: @red;
}

#custom-media {
    background-color: @button-bg;
    color: @green;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: @green;
}

#custom-media.custom-vlc {
    background-color: @yellow;
}

#temperature {
    background-color: @blue;
}

#temperature.critical {
    background-color: @red;
}

#tray {
    background-color: @button-bg;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @red;
}

#idle_inhibitor {
    background-color: @button-bg;
}

#idle_inhibitor.activated {
    background-color: @red;
    color: @black;
}

#mpd {
    background-color: @button-bg;
    color: @text;
}

#mpd.disconnected {
    background-color: @red;
}

#mpd.stopped {
    background-color: @blue;
}

#mpd.paused {
    background-color: @blue;
}

#language {
    background: @button-bg;
    color: @accent-secondary;
    padding: 0 10px;
    min-width: 16px;
    border-radius: 5px;
}

#keyboard-state {
    background: @button-bg;
    color: @text;
    padding: 0 0px;
    margin: 0 0px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
    border-radius: 5px;
}

#keyboard-state > label.locked {
    background: @red;
    color: @black;
    border-radius: 5px;
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0;
    border-radius: 5px;
}

#privacy-item {
    padding: 0 5px;
    color: @white;
    border-radius: 5px;
}

#privacy-item.screenshare {
    background-color: @orange;
    border-radius: 5px;
}

#privacy-item.audio-in {
    background-color: @green;
    border-radius: 5px;
}

#privacy-item.audio-out {
    background-color: @blue;
    border-radius: 5px;
}
